.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }


  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
 
  .project_thumbnail {
    width:100%
  }