.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }


  p {
    font-size: 16px;
    font-weight: bolder;
  }
  .margin {margin-bottom: 45px;}
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: black;
  }
 
  .project_thumbnail {
    height:170px;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  #portfolio {
    /* width: 30%; */
    margin-left: 150px;
    margin-right: 150px;

  }

  .zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(2.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .zoomLG{
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }

  .zoomLG:hover {
    transform: scale(3.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: initial; 
  }

  .project_thumbnail {
    border: 1px solid #36373a;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    width: 100%;
   
  }

  .project{
    border: 0px solid;
    /* padding: 10px; */
    margin:10px;
    box-shadow: 5px 10px 18px #888888;
    width: 29%;
  }

  .carousel-control {
    width:5%;
  }