.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    color:black;
  }
  .map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    color:black;
  }

  .contact {
    color: white;
    border: 0px solid #ccc;
    /* border-radius: 15px;  */
    padding:30px;
    background-color: #694b34;
    /* background-image: url(https://images.unsplash.com/photo-1528747045269-390fe33c19f2);
    background-repeat: no-repeat;
    background-size: cover; */
  }
  #message {
    margin: 0px;
     height: 92px; 
     width: 451px;
  }