.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    color:black;
  }
  .map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    color:black;
  }

  .contact {
    color: white;
    border: 1px solid #ccc;
    border-radius: 15px; 
    padding:30px;
    background-color: #36373a;
  }
  #message {
    margin: 0px;
     height: 92px; 
     width: 451px;
  }